/IO/
/RTC/
/SerialCom/

apptasks/*.mk
board/*.mk
drivers/*.mk
InitApp/*.mk
IO/*.mk
RTC/*.mk
Schr/*.mk
SerialCom/*.mk
source/*.mk
startup/*.mk
Sys/*.mk
utilities/*.mk
apptasks/*.d
board/*.d
drivers/*.d
InitApp/*.d
IO/*.d
RTC/*.d
Schr/*.d
SerialCom/*.d
source/*.d
startup/*.d
Sys/*.d
utilities/*.d
