# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.d
Debug/apptasks/*.mk
Debug/board/*.mk
Debug/drivers/*.mk
Debug/InitApp/*.mk
Debug/IO/*.mk
Debug/RTC/*.mk
Debug/Schr/*.mk
Debug/SerialCom/*.mk
Debug/source/*.mk
Debug/startup/*.mk
Debug/Sys/*.mk
Debug/utilities/*.mk
Debug/apptasks/*.d
Debug/board/*.d
Debug/drivers/*.d
Debug/InitApp/*.d
Debug/IO/*.d
Debug/RTC/*.d
Debug/Schr/*.d
Debug/SerialCom/*.d
Debug/source/*.d
Debug/startup/*.d
Debug/Sys/*.d
Debug/utilities/*.d

#Eclipse language settings
.settings/language.settings.xml

#vim editor backups
*~
*.swp
*.mk
.settings/language.settings.xml
*.map
*.xml
Debug/*.mk
Debug/*.d
*.mk
*.d


Debug/apptasks/subdir.mk
