# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.d

#Eclipse language settings
.settings/language.settings.xml

#vim editor backups
*~
*.swp
*.mk
.settings/language.settings.xml
*.d
*.map
*.d
*.d
*.xml
Debug/utilities/subdir.mk
Debug/utilities/fsl_shell.d
Debug/utilities/fsl_notifier.d
Debug/apptasks/subdir.mk
Debug/board/board.d
Debug/board/clock_config.d
*.mk
*.d
